<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>second app</title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <h1>this was project app for second django lessons</h1>
        <h2>but it got interesting and i used it for lesson 3 too</h2>
        <h3>for signing up go to /myform</h3>

      </div>

    </div>


  </body>
</html>
