<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>User Info</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  </head>
  <body>
    <h1>here are the users</h1>
      {% if users %}
        <ol>
          {% for p in users %}
          <li>USER INFO</li>
            <ul>
              <li>First Name :{{p.first_name}}: </li>
              <li>Last Name :{{p.last_name}}</li>
              <li>Email :{{p.email}}</li>
            </ul>
          {% endfor %}
        </ol>
      {% endif %}
  </body>
</html>
